

/* src/styles/Navbar.css  */

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem; 
    background-color: #1e1e2f;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 100;
}


.navbar-logo {
    font-size: 2rem;
    font-weight: 800;
    color: white;
    text-decoration: none;
}


.navbar-links {
    display: flex;
    gap: 2rem; 
}

.navbar-links .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent; 
    transition: all 0.3s ease;
}


.navbar-links .nav-link:hover {
    color: #ffc107; 
}


.navbar-links .nav-link.active {
    color: #ffc107;
    border-bottom: 2px solid #ffc107;
}


.navbar-contact-btn {
    background-color: #ffc107;
    color: #1e1e2f; 
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar-contact-btn:hover {
    background-color: white;
    transform: scale(1.05);
}



@media (max-width: 992px) {
    
    .navbar-container {
        padding: 1rem 2rem;
    }
    .navbar-logo {
        font-size: 1.5rem;
    }
    .navbar-links {
        gap: 1rem;
    }
    .nav-link {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    
    .navbar-container {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
    
    .navbar-links {
        flex-wrap: wrap; 
        justify-content: center;
        width: 100%;
    }
    
    .navbar-contact-btn {
        width: 100%;
        text-align: center;
        display: block;
        margin-top: 0.5rem;
    }
}